.vscode/
_torchshow/
# Byte-compiled / optimized / DLL files
__pycache__/
*.ipynb
*.flo
test_data/
._*
.DS_Store

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
*.egg-info/
.installed.cfg
*.egg
